@font-face {
	font-family: Galette;
	src: url('../fonts/galette-med.otf');
}

h1, h2, h3{
    font-family: Galette, Arial, Helvetica, sans-serif;
    color: #f60a64;
}



body{
    color:#575455;
}

header{
    width: 100%;
    height:268px;
    background:url(../images/bg_header.jpg) repeat-x;
    border-bottom: 1px solid #fff;
}


#logo{
    width:612px;
    height:269px;
    background: url(../images/logo.png);
    margin: 0 auto;
}


#sub_header{
    width:100%;
    height:426px;
    background: url(../images/bg_video.jpg) repeat-x;
}