        <footer>
            <div class="container">
                <div class="border box span-5">
                    <h2>Stay updated:</h2>
                    <a href="#nogo" title="facebook page"><img src="/images/fb_icn.png" alt="facebook" class="right5" /></a>
                    <a href="#nogo" title="vimeo page"><img src="/images/vimeo_icn.png" alt="vimeo" class="right5" /></a>
                    <a href="#nogo" title="twitter page"><img src="/images/tw_icn.png" alt="twitter" /></a>
                </div>
                <div class="border span-7  box ">
                    <a href="#nogo" title="email"><img src="/images/email_footer.png" alt="email contact" /></a><br />
                    <img src="/images/cel_footer.png" alt="mobile contact" />
                </div>
                <div class="span-10  box ">
                    <h2>Subsribe to our Mailing list:</h2>
                    <form action="" method="POST">
                        <input type="text" name="mailinglist" id="mailinglist" value="" class="mailing"/>
                        <input type="submit" value="" name="sub_mailinglist" class="sub_circular right" style="margin-top: 7px;" />
                    </form>

                </div>
            </div>
        </footer>

        <div id="underfooter" class="container box">
            <span class="small right">&copy; All Rights Reserved | Developed with <a href="http://symfony.com" title="symfony">Symfony</a> | Hosted by <a href="http://servergrove.com" title="servergrove.com">Servergrove</a></span>
        </div>