<!DOCTYPE html>
<html>
<head>
  <%= render ('layouts/head') %>
</head>
<body>

  <%#= render('layouts/header') %>
  <%#= render('layouts/sub_header') %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
